.profile {
  margin-top: -5rem;

  @include breakpoint($tablet) {
    margin-top: -1rem;
    position: relative;
    border-bottom: 1px solid #1c1c1c;
  }

  &__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    position: relative;

    @include breakpoint($tablet) {
      width: 6.5rem;
      height: 6.5rem;
      margin-left: 0;
      position: absolute;
      left: 0;
    }
  }

  &__header {
    margin-bottom: 2rem;
    text-align: center;
    @include breakpoint($tablet) {
      padding-left: 8rem;
      padding-top: 2rem;
      text-align: left;
    }
  }

  &__name {
    font-size: 1.8rem;

    @include breakpoint($tablet) {
      font-size: 1.5rem;
    }
  }

  &__prof {
    font-size: 1.4rem;
    font-weight: 300;
    color: #dedede;

    @include breakpoint($tablet) {
      font-size: 1.2rem;
    }
  }

  &__text {
    padding: 3rem 0;
    margin: 3rem 0;
    font-size: 1.2rem;
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;

    @include breakpoint($tablet) {
      display: none;
    }
  }
}