.search {
  background-color: $primary;
  max-width: 21rem;
  width: 100%;
  height: 100%;

  &__input {
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: $white;
    height: 100%;
    width: 100%;
    padding: 1.2rem 2rem;

    &::placeholder {
      color: rgba($white, .4);
    }
  }
}