<div class="modal">
    <div class="modal__content modal__content--contact">

        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="close">
        </button>

        <form action="/" class="form">

            <div class="form__group form__group--md">
                <input type="name" class="form__control" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input type="email" class="form__control" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </div>
        </form>

        <dl class="modal__footer">
            <div class="modal__footer-item">
                <dt>e-mail:</dt>
                <dd>
                    <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a>
                </dd>
            </div>
            <div class="modal__footer-item">
                <dt>тел:</dt>
                <dd>
                  <a href="tel:+94323285622">+943-232-856-22</a>
                </dd>
            </div>
        </dl>
    </div>
</div>